body {
    background-color: #242527;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Rubik', sans-serif;
}
p {
    font-family: 'Rubik', sans-serif;
}

.header .navbar {
    background-color: transparent !important;
    background-image: linear-gradient(180deg, #242527 0%, transparent 100%);
}

.img-logo {
    width: 10rem;
}

.custom-navlink {
    color: #fff !important;
    font-weight: bold;
    letter-spacing: 1px;
}

.custom-carousel {
    height: 100vh !important;
}

.carousel-img {
    height: 100vh;
}

.carousel-indicators-numbers {
    color: #A8A8A8;
    font-weight: 50;
}

.carousel-indicators-numbers li {
    text-indent: 0;
    color: #fff;
    border-top: unset;
    margin-bottom: 15rem;
}

.carousel-indicators-numbers .active {
    width: auto;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}

.carousel-indicators li {
    width: auto;
    background-color: unset;
}

.carousel-caption {
    -webkit-box-align: center !important;
    align-items: center !important;
    flex-direction: column;
    padding-top: 8rem;
}

.title-line {
    border-bottom: 1px white !important;
}

.page-title {
    color: #fff;
}

.page-title:before {
    display: block;
    content: “ “;
}

.page-subtitle {
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
}

.page-title-secondary {
    font-weight: 300;
}

.page-title-button {
    color: #f67f07 !important;
    cursor: pointer;
}

.container-content {
    padding-top: 8rem !important;
}

.presentation-text {
   position: relative;
   left: 200px;
   bottom: 80px ;
   z-index: 2;
   background-color: #242527;
}

.presentation-img {
    max-width: 80%;
    position: relative;
    right: 100px;
}

.page-reco {
    background-blend-mode: multiply;
    background-color: #303030;
    background-image:  url('/src/images/viñabw.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title-reco {
    color: #fff;
    font-weight: 300;
}

.carousel-img-container {
    background-color: #b4b3b3;
    width: 100%;
}

.carousel-img-reco {
    height: 20rem !important;
}

.carousel-title-reco {
    color: #000000;
    font-weight: 600;
}

.carousel-label-reco {
    color: #000000;
}

.carousel-logo {
    width: 80%;
}

.carousel-indicators-numbers-reco {
    color: #fff !important;
    font-weight: 50;
    z-index: 2;
}

.carousel-indicators-numbers-reco li {
    text-indent: 0;
    color: #fff;
    border-top: unset;
    margin-bottom: unset;
}

.carousel-indicators-numbers-reco .active {
    width: auto;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}

.page-about-s1 {
    background-image: linear-gradient(90deg, #242527 0%, transparent 100%), url(/src/images/tour-1.jpg);
}

.page-about-s2 {
    background-image: linear-gradient(90deg, #242527 0%, transparent 100%), url(/src/images/tour-2.jpg);
}

.footer {
    background-blend-mode: multiply;
    background-color: #202020;
    background-image:  url('/src/images/viñabw.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 373px;
}

.navlink-footer {
    color: #fff !important;
    font-weight: lighter;
    letter-spacing: 2px;  
    text-transform: uppercase;
}

.navlink-footer:hover {
    color: #f67f07 !important;
}

.footer-span-email {
    color: #f67f07 !important;
    cursor: pointer;
}

.footer-span {
    color: #ffffff;
}

.footer-span-light {
    color: #ffffff;
    font-weight: 100;
}

.rrss-container {
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: .75rem;
}

.rrss-button {
    font-size: 1.5em;
    border-radius: 50%;
    background-color: #454545;
    color: #A8A8A8;
    line-height: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    transition:0.5s;
    cursor: pointer;
}

.certificate-img {
    width: 10rem;
    cursor: pointer;
}

.hide {
    opacity: 0;
}

.fade-in {
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s; /* Firefox < 16 */
    -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
    animation: fadein 4s;   
}

@media (max-width: 576px) {
    .navbar-toggler {
        border: 0px;
    }
    .menu-toggler{
        display: none;
    }
    .presentation-text {
        position: static !important;
        background-color: #242527;
     }
     .presentation-img {
        max-width: 100% !important;
        position: static !important;
    }
    .footer {
        text-align: center;
        background-position-y: 0px !important;
    }
}

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 4s ease; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 4s ease; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; ;}
    to   { opacity: 4s ease; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 4s ease; }
  }
  
  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 4s ease; }
  }